<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="_csrf_parameter" th:content="${_csrf?.parameterName}" />
        <meta name="_csrf_header" th:content="${_csrf?.headerName}" />
        <meta name="_csrf" th:content="${_csrf?.token}"/>
        <title>SAMPLE</title>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <link type="text/css" th:rel="stylesheet" th:href="@{/css/sb/all.min.css}">
        <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
        <link type="text/css" th:rel="stylesheet" th:href="@{/css/sb/sb-admin-2.min.css}">
        <link type="text/css" th:rel="stylesheet" th:href="@{/css/kendo/kendo.common.min.css}">
        <link type="text/css" th:rel="stylesheet" th:href="@{/css/kendo/kendo.default.min.css}">
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/sb/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/sb/jquery.easing.min.js}"></script>
        <script th:src="@{/js/sb/sb-admin-2.min.js}"></script>
        <script th:src="@{/js/kendo/kendo.all.min.js}"></script>
        <script th:src="@{'/js/kendo/kendo.culture.ko-KR.min.js'}"></script>
        <script th:inline="javascript">
            /* <![CDATA[ */
            var _csrf_param = $('meta[name="_csrf_parameter"]').attr("content");
            var _csrf_header = $("meta[name='_csrf_header']").attr("content");
            var _csrf_token = $('meta[name="_csrf"]').attr("content");
            /* ]]> */
        </script>
    </head>
</html>