<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/default">
<body>
	<section layout:fragment="content">
	<!-- Begin Page Content -->
	<div class="container-fluid">
		<!-- Content Row -->
		<div class="row">

			<!-- Earnings (Monthly) Card Example -->
			<div class="col-xl-3 col-md-6 mb-4">
				<a th:href="@{/kendo/editor}">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
										KENDO UI EDITER</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800">
										KENDO UI EDITER 샘플페이지
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="col-xl-3 col-md-6 mb-4">
				<a th:href="@{/util/map}">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
										NAVER MAP</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800">
										MAP
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="col-xl-3 col-md-6 mb-4">
				<a th:href="@{/util/mapMarker}">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
										NAVER MAP</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800">
										MAP Marker
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="col-xl-3 col-md-6 mb-4">
				<a th:href="@{/util/mapCluster}">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
										NAVER MAP</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800">
										MAP CLUSTER
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="col-xl-3 col-md-6 mb-4">
				<a th:href="@{/util/api}">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
										API</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800">
										사업자등록번호 조회 API
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>

		</div>
	</div>
	<!-- /.container-fluid -->
	</section>
</body>
<script layout:fragment="contentJs" th:inline="javascript">
	/* <![CDATA[ */
	$(document).ready(function() {
		//test
	});
	/* ]]> */
</script>
</html>